.edit-title-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.edit-actions {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 10px;
}

.info-text {
    margin: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* --- Responsive Styles for Small Screens --- */
@media (max-width: 600px) {
    .interactive-modal-overlay {
        padding: 25px 20px; /* Reduce horizontal padding on smaller screens */
        max-width: 300px;
    }
}