/* --- Main Overlay and Modal --- */
.interactive-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.interactive-modal-overlay {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
